# claude
CLAUDE.md
.claude/
.superpowers/
docs/
docs/superpowers/

# env
.env.local
.env*.local

# dependencies
node_modules/

# next
.next/
out/

# worktrees
.worktrees/

# misc
*.tsbuildinfo
next-env.d.ts
